name: API CI

on:
  push:
    branches: [main]
    paths: ['api/**']
  pull_request:
    paths: ['api/**']
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          cache-dependency-path: api/go.sum

      - name: Build
        run: go build -v ./...
        working-directory: api

      - name: Test
        run: go test -v ./...
        working-directory: api

      # TODO: Add deploy to ECS
